<!DOCTYPE html>
<html lang="en">
    <partial name="Admin/Partials/_Head"></partial>
    @RenderSection("Head", required: false)
<body>
    @RenderBody()


    <partial name="Admin/Partials/_Script"></partial>
    @RenderSection("Script", required: false)
</body>
</html>